div.centre
{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#scrollable-area {
  margin: auto;
    width: 100%;
    height: 354px;
    overflow-y: scroll;
}

form .alert-dismissible .close {
	right: -5px;
}

